{%  extends 'base.html' %}

{% block content %}
  <h1>{{ batch.name }}</h1>
  <h2>{{ batch.date_brewed }}</h2>
    <p>{{ batch.get_starter_type_display }} brewed with {{ batch.get_tea_flavor_display }} and
        {{ batch.get_sweetener_display }}</p>
    <p>{{ batch.description }}</p>

    <p>
        <a href="{% url 'kombuchacalendar:batch_update' batch.id %}">Update Batch Details</a>
    </p>
    {% if batch.archive == False %}
    <p>
        <a href="{% url 'kombuchacalendar:batch_archive' batch.id %}"><button>Archive Batch</button></a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'kombuchacalendar:batch_unarchive' batch.id %}"><button>Unarchive Batch</button></a>
    </p>
    {% endif %}
    <p>
        <a href="{% url 'kombuchacalendar:batches' %}"> Back to Brewery</a>
    </p>
{% endblock content %}
